:root {
    --color-primary: #0a520f;
    --color-primary-light: #67cf12;
    --color-primary-dark: #073e14;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: rgb(2, 0, 0);
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--color-grey-light-2);
}

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 65%;
}

.announcement-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.announcement-bar-left-section {
    display: flex;
    align-items: center;

}

.announcement-bar-middle-section {
    font-size: 1.2rem;
}

.announcement-bar-inner-list {
    display: flex;
}

.announcement-bar-inner-list li {
    list-style-type: none;
    font-size: 1.2rem;
    padding: .3rem;
}

.announcement-bar-inner-list a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* //////////////// */

/* search */

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media only screen and (max-width: 31.25em) {
    .search {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }
} */

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: grey;
}

.search__input:focus+.search__button {
    background-color: var(--color-grey-light-3);
}

.search__button {
    border: none;
    background-color: var(--color-grey-light-2);
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}